body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.date-select-button {
    cursor: pointer;
    display: inline-flex;
    padding: 4px 12px;
    border-radius: 2px;
    gap: 4px;
    align-items: center;
    font-family: monospace;
}

.date-select-button:hover {
    background-color: #e3e3e3;
}

.caret-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-select-button #selected-range {
    font-size: smaller;
}

.date-select {
    margin: 48px;
    width: 512px;
    height: 430px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px #cfcfcf solid;
    border-radius: 4px;
    box-shadow: 0 0 6px 0px #d7d7d7;
}

.date-select #body-container {
    display: flex;
    overflow: auto;
}

.date-select *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.date-select *::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.date-select *::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.date-select *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.date-select *::-webkit-scrollbar-button {
    display: none;
}

.date-select * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.date-select #preset-container {
    width: 240px;
    padding-top: 12px;
    overflow: auto;
}

#preset-container #item-container {
    display: flex;
    flex-direction: column;
}

.preset-item {
    color: #4b4b4b;
    padding: 8px;
    cursor: pointer;
}

.preset-item:hover {
    background-color: #ececec;
}

.date-select #calender-container {
    padding-top: 12px;
    flex: 1;
}

.container {
    position: relative;
    width: 105px;
    border: 1px solid #cfcfcf;
    padding: 8px;
}

.full-width-span {
    display: block;
    width: 100%;
    text-align: center;
}

.top-span {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    background-color: #fff;
    padding: 0 5px;
}

#date-range-select-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.date-select #footer {
    padding: 12px;
    display: flex;
    justify-content: end;
    border-top: 1px solid #cfcfcf;
}

#day-container {
    font-size: small;
    color: #676767;
    display: flex;
    margin: 18px 18px 4px 18px;
    justify-content: space-between;
}

.date-select .click-button {
    font-weight: bold;
    font-size: 14px;
    color: rgb(26, 115, 232);
    padding: 8px;
}

.date-select .click-button:hover {
    background-color: rgb(228, 242, 247);
}

.month-container {
    display: flex;
    flex-direction: column;
}

.month-header {
    margin-left: 8px;
    font-size: small;
    color: #676767;
}

.month-item {
    padding: 4px;
}

.month-content {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
}

.day-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 14.28%;
}

.day-item-inner {
    cursor: pointer;
    font-size: smaller;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.day-item-inner:hover {
    background-color: #e9e9e9;
}